<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edward.edu.mapper.EduCourseMapper">
    <insert id="addCourse" parameterType="com.edward.edu.bean.EduCourse">
        <selectKey keyProperty="id" order="AFTER" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO edu_course(teacher_id, subject_id, subject_parent_id, title, price, lesson_num, cover, status, gmt_created, gmt_modified)
        VALUE (#{teacherId},#{subjectId},#{subjectParentId},#{title},#{price},#{lessonNum},#{cover},#{status},#{gmtCreated},#{gmtModified})
    </insert>
    <insert id="addCourseDes" parameterType="com.edward.edu.bean.EduCourseDes">
        INSERT INTO edu_course_des(id,des, gmt_created, gmt_modified) VALUE (#{id},#{des},#{gmtCreated},#{gmtModified})
    </insert>
    <select id="getCourseById" parameterType="int" resultType="com.edward.edu.bean.EduCourse">
        SELECT * FROM edu_course WHERE id = #{id}
    </select>
    <select id="getCourseDesById" parameterType="int" resultType="com.edward.edu.bean.EduCourseDes">
        SELECT * FROM edu_course_des WHERE id = #{id}
    </select>
    <update id="updateCourse" parameterType="com.edward.edu.bean.EduCourse">
        UPDATE edu_course SET teacher_id = #{teacherId}, subject_id = #{subjectId}, subject_parent_id = #{subjectParentId}, title = #{title}, price = #{price}, lesson_num = #{lessonNum}, cover = #{cover}, status = #{status}, gmt_created = #{gmtCreated}, gmt_modified = #{gmtModified} WHERE id = #{id}
    </update>
    <update id="updateCourseDes" parameterType="com.edward.edu.bean.EduCourseDes">
        UPDATE edu_course_des SET des = #{des}, gmt_created = #{gmtCreated}, gmt_modified = #{gmtModified} WHERE id = #{id}
    </update>
</mapper>