<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edward.edu.mapper.EduTeacherMapper">
    <sql id="conditionTeacher">
        <where>
            is_deleted = 0
            <if test="eduTeacher.name!=null and eduTeacher.name!=''">
                AND name like "%${eduTeacher.name}%"
            </if>
            <if test="eduTeacher.level!=null and eduTeacher.level!=''">
                AND level = #{eduTeacher.level}
            </if>
            <if test="eduTeacher.gmtCreated!=null">
                AND gmt_created &gt; #{eduTeacher.gmtCreated}
            </if>
            <if test="eduTeacher.gmtModified!=null">
                AND gmt_modified &lt; #{eduTeacher.gmtModified}
            </if>
        </where>
    </sql>
    <select id="findTeacherAll" resultType="com.edward.edu.bean.EduTeacher">
        SELECT *
        FROM edu_teacher
        WHERE is_deleted = 0
    </select>

    <select id="findTeacherById" parameterType="int" resultType="com.edward.edu.bean.EduTeacher">
        SELECT *
        FROM edu_teacher
        WHERE id = #{teacherId} AND is_deleted = 0
    </select>

    <select id="findFourTeacher" resultType="com.edward.edu.bean.EduTeacher">
        SELECT *
        FROM edu_teacher
        WHERE is_deleted = 0
        ORDER BY RAND()
        LIMIT 4
    </select>

    <insert id="addTeacher" parameterType="com.edward.edu.bean.EduTeacher">
        INSERT INTO `edu_manager`.`edu_teacher` (`name`, `sort`, `level`, `career`, `intro`, `avatar`, `is_deleted`, `gmt_created`, `gmt_modified`)
        VALUES
            (#{name}, #{sort}, #{level}, #{career}, #{intro}, #{avatar}, #{isDeleted}, #{gmtCreated}, #{gmtModified});
    </insert>

    <update id="deleteTeacher">
        UPDATE edu_teacher SET is_deleted = 1
        <where>
            <if test="ids!=null and ids.size()>0">
                <foreach collection="ids" separator="," open="id in (" close=")" item="id">
                    #{id}
                </foreach>
            </if>
        </where>
        and is_deleted = 0
    </update>

    <update id="updateTeacher" parameterType="com.edward.edu.bean.EduTeacher">
        UPDATE edu_teacher
        SET name= #{name}, sort = #{sort}, level = #{level}, career = #{career}, intro = #{intro},
            avatar= #{avatar}, gmt_modified = #{gmtModified}
        WHERE id = #{id} AND is_deleted = 0
    </update>

    <!--根据条件查询总条数-->
    <select id="totalRowsNum" resultType="int">
        SELECT count(*) FROM edu_teacher
        <include refid="conditionTeacher"></include>
    </select>

    <!--根据条件查询当前页的讲师对象-->
    <select id="currentPageTeacher" resultType="com.edward.edu.bean.EduTeacher">
        SELECT * FROM edu_teacher
        <include refid="conditionTeacher"></include>
        ORDER BY gmt_modified DESC
        LIMIT #{index} , #{limit}
    </select>

    <!--根据id删除讲师-->
    <update id="deleteTeacherById" parameterType="int">
        UPDATE edu_teacher SET is_deleted = 1 WHERE id = #{deleteId}
    </update>
</mapper>