<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edward.edu.mapper.EduVideoMapper">
    <insert id="addVideo" parameterType="com.edward.edu.bean.EduVideo">
      INSERT INTO edu_video(course_id, chapter_id, title, video_source_id, video_original_name, sort, duration, status, size, version, gmt_created, gmt_modified)
      VALUE (#{courseId},#{chapterId},#{title},#{videoSourceId},#{videoOriginalName},#{sort},#{duration},#{status},#{size},#{version},#{gmtCreated},#{gmtModified})
    </insert>


</mapper>